In [1]:
#Import libraries
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv

In [2]:
# Read the Mapbox API key
load_dotenv()
mapbox_api = os.getenv('mapbox')
px.set_mapbox_access_token(mapbox_api)

In [3]:
#Load Data
hdi_file_path = Path('Resources/HDI.csv')
hdi_df = pd.read_csv(hdi_file_path, index_col='HDI Rank')
gps_file_path = Path('Resources/country-coordinates.csv')
gps_df = pd.read_csv(gps_file_path, index_col='country')

In [4]:
#Check nulls
hdi_df.isnull().sum()

Country    0
1990       0
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
dtype: int64

In [5]:
#Check nulls
gps_df.isnull().sum()

country_code             1
latitude                 1
longitude                1
usa_state_code         193
usa_state_latitude     193
usa_state_longitude    193
usa_state              193
dtype: int64

In [6]:
#Check head
hdi_df.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
HDI Rank,,,,,,,,,,,,,,,,,,,,,
169,Afghanistan,0.302,0.307,0.316,0.312,0.307,0.331,0.335,0.339,0.344,...,0.472,0.477,0.489,0.496,0.5,0.5,0.502,0.506,0.509,0.511
69,Albania,0.65,0.631,0.615,0.618,0.624,0.637,0.646,0.645,0.655,...,0.745,0.764,0.775,0.782,0.787,0.788,0.788,0.790,0.792,0.795
91,Algeria,0.572,0.576,0.582,0.586,0.59,0.595,0.602,0.611,0.621,...,0.721,0.728,0.728,0.729,0.736,0.74,0.743,0.745,0.746,0.748
36,Andorra,..,..,..,..,..,..,..,..,..,...,0.837,0.836,0.858,0.856,0.863,0.862,0.866,0.863,0.867,0.868
148,Angola,..,..,..,..,..,..,..,..,..,...,0.517,0.533,0.544,0.555,0.565,0.572,0.578,0.582,0.582,0.581

In [7]:
#Check head
gps_df.head()

,country_code,latitude,longitude,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
country,,,,,,,
Andorra,AD,42.546245,1.601554,AK,63.588753,-154.493062,Alaska
United Arab Emirates,AE,23.424076,53.847818,AL,32.318231,-86.902298,Alabama
Afghanistan,AF,33.939110,67.709953,AR,35.201050,-91.831833,Arkansas
Antigua and Barbuda,AG,17.060816,-61.796428,AZ,34.048928,-111.093731,Arizona
Anguilla,AI,18.220554,-63.068615,CA,36.778261,-119.417932,California

In [8]:
#Reset index
hdi_df.reset_index(inplace=True)

In [9]:
#Set index to column "Country"
hdi_df.set_index("Country", inplace=True)

In [10]:
gps_df.reset_index(inplace=True)
gps_df.rename(columns={'country': 'Country'}, inplace=True)

In [11]:
gps_df.set_index("Country", inplace=True)
gps_df.head()

,country_code,latitude,longitude,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
Country,,,,,,,
Andorra,AD,42.546245,1.601554,AK,63.588753,-154.493062,Alaska
United Arab Emirates,AE,23.424076,53.847818,AL,32.318231,-86.902298,Alabama
Afghanistan,AF,33.939110,67.709953,AR,35.201050,-91.831833,Arkansas
Antigua and Barbuda,AG,17.060816,-61.796428,AZ,34.048928,-111.093731,Arizona
Anguilla,AI,18.220554,-63.068615,CA,36.778261,-119.417932,California

In [12]:
gps_df = gps_df.drop(['country_code', 'usa_state_code', 'usa_state_latitude', 'usa_state_longitude', 'usa_state'], axis=1)

In [13]:
gps_df.head()

                       latitude  longitude
Country
Andorra               42.546245   1.601554
United Arab Emirates  23.424076  53.847818
Afghanistan           33.939110  67.709953
Antigua and Barbuda   17.060816 -61.796428
Anguilla              18.220554 -63.068615

In [14]:
#hdi_df.set_index('Country', inplace=True)

In [15]:
#Concatenate dataframes
hdi_gps_df = pd.concat([hdi_df, gps_df], axis='columns')
hdi_gps_df.head()

,HDI Rank,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,latitude,longitude
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,169.0,0.302,0.307,0.316,0.312,0.307,0.331,0.335,0.339,0.344,...,0.489,0.496,0.5,0.5,0.502,0.506,0.509,0.511,33.939110,67.709953
Albania,69.0,0.65,0.631,0.615,0.618,0.624,0.637,0.646,0.645,0.655,...,0.775,0.782,0.787,0.788,0.788,0.790,0.792,0.795,41.153332,20.168331
Algeria,91.0,0.572,0.576,0.582,0.586,0.59,0.595,0.602,0.611,0.621,...,0.728,0.729,0.736,0.74,0.743,0.745,0.746,0.748,28.033886,1.659626
Andorra,36.0,..,..,..,..,..,..,..,..,..,...,0.858,0.856,0.863,0.862,0.866,0.863,0.867,0.868,42.546245,1.601554
Angola,148.0,..,..,..,..,..,..,..,..,..,...,0.544,0.555,0.565,0.572,0.578,0.582,0.582,0.581,-11.202692,17.873887

In [17]:
 #Drop Countries excluded from HDI data
 hdi_gps_df.drop(hdi_gps_df.index[189:], inplace=True)
 hdi_gps_df.head()

,HDI Rank,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,latitude,longitude
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,169.0,0.302,0.307,0.316,0.312,0.307,0.331,0.335,0.339,0.344,...,0.489,0.496,0.5,0.5,0.502,0.506,0.509,0.511,33.939110,67.709953
Albania,69.0,0.65,0.631,0.615,0.618,0.624,0.637,0.646,0.645,0.655,...,0.775,0.782,0.787,0.788,0.788,0.790,0.792,0.795,41.153332,20.168331
Algeria,91.0,0.572,0.576,0.582,0.586,0.59,0.595,0.602,0.611,0.621,...,0.728,0.729,0.736,0.74,0.743,0.745,0.746,0.748,28.033886,1.659626
Andorra,36.0,..,..,..,..,..,..,..,..,..,...,0.858,0.856,0.863,0.862,0.866,0.863,0.867,0.868,42.546245,1.601554
Angola,148.0,..,..,..,..,..,..,..,..,..,...,0.544,0.555,0.565,0.572,0.578,0.582,0.582,0.581,-11.202692,17.873887

In [18]:
hdi_gps_df.tail()

,HDI Rank,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,latitude,longitude
Country,,,,,,,,,,,,,,,,,,,,,
Venezuela (Bolivarian Republic of),113.0,0.644,0.654,0.66,0.662,0.662,0.666,0.668,0.67,0.672,...,0.772,0.777,0.775,0.769,0.759,0.743,0.733,0.711,NaN,NaN
Viet Nam,117.0,0.483,0.493,0.504,0.514,0.525,0.537,0.548,0.547,0.567,...,0.676,0.681,0.683,0.688,0.693,0.696,0.700,0.704,NaN,NaN
Yemen,179.0,0.401,0.401,0.404,0.406,0.408,0.414,0.421,0.426,0.431,...,0.504,0.509,0.502,0.483,0.474,0.467,0.468,0.470,15.552727,48.516388
Zambia,146.0,0.421,0.417,0.416,0.419,0.414,0.415,0.416,0.416,0.416,...,0.549,0.557,0.561,0.569,0.571,0.578,0.582,0.584,-13.133897,27.849332
Zimbabwe,150.0,0.478,0.481,0.467,0.463,0.46,0.453,0.453,0.447,0.442,...,0.525,0.537,0.547,0.553,0.558,0.563,0.569,0.571,-19.015438,29.154857